<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
    {% load static %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'users/css/bootstrap.min.css' %}">
    <style type="text/css">
  
    </style>
</head>
<body>
    <div class="container">
    	<div class="row"><h3>User info</h3></div>
    	
	    <div class="row">
			
				{% csrf_token %}
				<h5>User info:</h5>
				<p for="email">First name: {{user.first_name}}</p>
				<br>
				<p for="email">Last name: {{user.last_name}}</p>
				<br>
				<p for="email">Email address: {{user.email}}</p>
				<br>
				<a href="{{user.id}}/edit">Edit</a>
				<a href="{{user.id}}/destroy">Delete</a>
		</div>
	</div>
    <script type="text/javascript" src="{% static 'users/js/jquery-3.3.1.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'users/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'users/js/bootstrap.min.js' %}"></script>        
</body>
</html>